@import '../util//variables.module';
@import '../util/mixins.module';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include mediaQuery(768px) {
    flex-direction: row;
    gap: 21px;
  }
}

.balanceContent {
  display: flex;
  @include mediaQuery(768px) {
    gap: 15px;
  }
}

.title {
  margin-bottom: 8px;
  color: $opacity-color;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
  @include mediaQuery(768px) {
    margin-bottom: 0px;
  }
}

.popUp {
  position: absolute;
  left: 0;
  top: 80px;
  padding: 29px 24px 32px;

  border-radius: 30px;
  background: linear-gradient(155deg, #1d346a 0%, #031634 100%);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.popUp.show {
  opacity: 1;
  visibility: visible;
}

.popUp::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 80px;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1d346a;
}

.titlePopUp {
  color: $white-color;
  text-align: start;
  margin-bottom: 20px;
  @include fontSizeAuto(14px, 20px);
}

.descPopUp {
  color: $white-color;
  @include fontSizeAuto(12px, 16px);
}

.sumaTitle {
  border-radius: 22px 0px 0px 22px;
  border: 2px solid $white-color;
  padding: 12px 16px 12px 19px;
  color: $black-color;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  @include mediaQuery(768px) {
    border-radius: 16px;
    border: 2px solid #fff;
  }
}

.confirmTitle {
  border-radius: 0px 22px 22px 0px;
  border: 2px solid $white-color;
  border-left: none;
  padding: 12px 22px 12px 18px;

  color: $opacity-color;
  text-align: center;

  font-size: 12px;

  letter-spacing: 0.24px;
  text-transform: uppercase;

  @include mediaQuery(768px) {
    border-radius: 16px;
    border: 2px solid #fff;
  }
}
