@import '../util/mixins.module';
@import '../util/variables.module';

.buttonBack {
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include mediaQuery(768px) {
    @include flexCenter();
  }
}

.buttonBackIcon {
  width: 24px;
  height: 24px;

  @include mediaQuery(768px) {
    margin-right: 15px;
  }
}

.buttonBackText {
  @include mediaQuery(320px) {
    display: none;
  }

  @include mediaQuery(768px) {
    display: flex;
    color: $opacity-color;
    font-size: 12px;
    letter-spacing: 0.48px;
  }
}
