@import '../util/mixins.module';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
  @include mediaQuery(768px) {
    margin: 0;
  }
}

.timeTitle {
  color: #52555f;

  font-size: 12px;

  font-weight: 900;

  letter-spacing: 0.48px;
  text-transform: uppercase;
}
