@import '../util/variables.module';
@import '../util/mixins.module';

.incomeSection {
  margin-top: 32px;

  @include mediaQuery(768px) {
    width: 704px;
    border-radius: 30px;
    background-color: $white-color;
    @include boxShadow(0, 10px, 60px, 0, rgba(170, 178, 197, 0.2));
    padding: 20px 50px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mediaQuery(1280px) {
    width: 1034px;
    padding: 50px 222px;
  }
}

.pageСhanger {
  @include flexCenter();
  margin-bottom: 20px;
}

.pageName {
  color: $black-color;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
}

.pageIncomeList {
  @include flexCenter();
  flex-wrap: wrap;
  column-gap: 14px;

  @include mediaQuery(768px) {
    row-gap: 40px;
    align-items: baseline;
  }
}

.pageIncomeItem {
  position: relative;
  @include flexCenter();
  flex-direction: column;
  gap: 5px;
  width: 84px;
  cursor: pointer;

  svg {
    position: relative;
    z-index: 2;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }

  &:hover {
    svg {
      fill: $primary-color;
    }
    .iconDecor {
      background-color: #ffdac0;
    }
  }
}

.pageIncomeAmount {
  text-align: center;
  color: $gray-color;
  font-size: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.pageIncomeItemName {
  text-align: center;
  color: $gray-color;
  font-size: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.borderBottom {
  width: 100%;
  height: 1px;
  background-color: $opacity-color;
  margin-top: 20px;
  margin-bottom: 20px;

  @include mediaQuery(768px) {
    display: none;
  }
}

.iconDecorWrapper {
  position: relative;
}

.iconDecor {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 59px;
  height: 46px;
  border-radius: 20px;
  background-color: #f5f6fb;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
