@import '../util/mixins.module';
@import '../util//variables.module';

.container {
  @include flexCenter();

  margin-bottom: 35px;
  @include mediaQuery(768px) {
    margin-bottom: 0px;
  }
}

.linkStyled {
  display: flex;
  gap: 15px;
  align-items: center;
  color: $opacity-color;
  text-align: right;
  font-size: 14px;
  letter-spacing: 0.48px;
}
