@import '../util/mixins.module';
@import '../util//variables.module';

.container {
  @include flexCenter();
  gap: 15px;
  margin-bottom: 35px;
  @include mediaQuery(768px) {
    margin-bottom: 0px;
  }
}

.linkStyled {
  color: $opacity-color;
  text-align: right;
  font-size: 14px;
  letter-spacing: 0.48px;
  line-height: normal;
}
