@import '../util/variables.module';
@import '../util/mixins.module';

.statisticPeriodTitle {
  color: $opacity-color;
  font-size: 12px;
  letter-spacing: 0.48px;
  margin-bottom: 5px;
  text-align: center;
}

.statisticPeriodwrapper {
  @include flexCenter();
}

.statisticPeriodBtnPrev {
  background-color: transparent;
  border: none;
  margin-right: 3px;
  cursor: pointer;
}

.statisticPeriodText {
  color: $black-color;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.statisticPeriodBtnNext {
  background-color: transparent;
  border: none;
  margin-left: 3px;
  cursor: pointer;
}
