@import '../util/variables.module';
@import '../util/mixins.module';

.statisticPage {
  position: relative;
  background-image: url('/statistic-fon-mob.png');
  background-repeat: no-repeat;
  background-position: top -60px left 0;
  padding-left: 20px;
  padding-right: 20px;

  @include mediaQuery(768px) {
    background-image: url('/statistic-fon-tabl.png');
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mediaQuery(1280px) {
    background-image: url('/statistic-fon-desk.png');
    padding-left: 123px;
    padding-right: 123px;
  }
}

.additionalBackground {
  position: absolute;
  bottom: -120px;
  right: 56px;
  width: 183px;
  height: 142px;
  background-image: url('/bottomBcgTablet.png');
  background-repeat: no-repeat;
  z-index: -2;
}
