.statisticPanelList {
  display: flex;
  flex-direction: column;
}

.statisticPanelItemBtnBack {
  padding-top: 16px;
  padding-left: 20px;
  margin-bottom: 16px;
}

.statisticPanelItemBalance {
  margin-left: auto;
  margin-right: auto;
}

.statisticPanelItemPeriod{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}