@import '../util/variables.module';
@import '../util/mixins.module';

.statisticBalanceWrapper {
  @include mediaQuery(768px) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.statisticBalanceText {
  color: $opacity-color;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  margin-bottom: 8px;
}

.statisticBalanceBlock {
  @include flexCenter();
  width: 183px;
  height: 44px;
  border-radius: 22px;
  border: 2px solid #fff;
  color: $black-color;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-bottom: 32px;

  @include mediaQuery(768px) {
    margin-bottom: 0;
  }
}
