@import '../util/mixins.module';
@import '../util/variables.module';

.container {
  margin-top: 18px;
  @include mediaQuery(768px) {
    display: flex;
    margin-top: 0;
    align-items: baseline;
  }
}

.form {
  @media screen and (max-width: 767px) {
    width: 280px;
    margin: 0 auto;
    text-align: center;
  }

  @include mediaQuery(768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 44px;
    row-gap: 32px;
  }
}

.label {
  position: relative;
  display: block;
}

.labelForDesc {
  @media screen and (max-width: 767px) {
    min-width: 280px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 290px;
  }
}

.labelForSum {
  @include flexCenter();
  margin-bottom: 90px;
  @include mediaQuery(768px) {
    margin-bottom: 0;
  }

  @include mediaQuery(1280px) {
    align-self: baseline;
  }
}

.input {
  background-color: transparent;
  padding-left: 20px;
  border: 2px solid;
}

.inputByDecs {
  width: 100%;
  padding-left: 20px;
  border-color: $white-color;

  border-top-left-radius: 16px;
  background-color: transparent;
  height: 40px;

  @include mediaQuery(768px) {
    border-color: $select-table-color;
  }

  &::placeholder {
    color: $select-table-color;

    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.inputBySum {
  width: 125px;
  height: 44px;
  padding-left: 20px;
  background-color: transparent;
  border-radius: 22px 0px 0px 22px;
  border-color: $white-color;

  @include mediaQuery(768px) {
    width: 100px;
    border-color: $select-table-color;
    border-radius: 0px 20px 20px 0px;
    height: 40px;
    border-left: none;
    padding-right: 40px;
  }
  @include mediaQuery(1280px) {
    max-width: 120px;
  }
}
.containerByIcon {
  @include flexCenter();
  padding: 10px 20px;
  border-radius: 0px 22px 22px 0px;
  border: 2px solid $white-color;
  border-left: none;
  cursor: pointer;

  @include mediaQuery(768px) {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
  }
}

.btnContainer {
  @include mediaQuery(768px) {
    padding-left: 30px;
  }
}

.btn {
  border: none;
  width: 130px;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  border-radius: 16px;
  cursor: pointer;
}

.btnSubmit {
  margin-right: 20px;
  color: $white-color;
  background: $primary-color;
  filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
}

.btnClear {
  color: $gray-color;
  background: $secondary-color;
  box-shadow: 1px 2px 5px 0px rgba(170, 178, 197, 0.4);
}

.err {
  position: absolute;
  font-size: 10px;
  color: $error-color;
}

.errMsgForSum {
  top: 110%;
  left: 64px;
  @include mediaQuery(768px) {
    left: 4px;
  }
  @include mediaQuery(1280px) {
    top: 118%;
  }
}

.errMsgForDesc {
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 100px;
  @include mediaQuery(768px) {
    top: 110%;
    left: 20px;
    transform: none;
  }
}
