@import '../util/mixins.module';

.container {
  margin-top: 18px;
  @include mediaQuery(768px) {
    display: flex;
    margin-top: 0;
    align-items: baseline;
  }
}

.form {
  @media screen and (max-width: 767px) {
    width: 280px;
    margin: 0 auto;
    text-align: center;
  }

  @include mediaQuery(768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 44px;
    row-gap: 32px;
  }
}

.label {
  @media screen and (max-width: 767px) {
    width: 280px;
    display: block;
  }
  @media screen and (min-width: 1280px) {
    width: 290px;
    display: block;
  }
}

.input {
  width: 100%;
  padding-left: 20px;
  border: 2px solid #fff;

  border-top-left-radius: 16px;
  background-color: transparent;
  height: 40px;

  @include mediaQuery(768px) {
    border: 2px solid #c7ccdc;
  }

  &::placeholder {
    color: #c7ccdc;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
  }
}

.labelForSum {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 90px;
  @include mediaQuery(768px) {
    margin-bottom: 0;
  }

  @include mediaQuery(1280px) {
    align-self: baseline;
  }
}

.inputBySum {
  width: 125px;
  height: 44px;
  padding-left: 20px;
  background-color: transparent;
  border-radius: 22px 0px 0px 22px;
  border: 2px solid #fff;

  @include mediaQuery(768px) {
    width: 100px;
    border: 2px solid #c7ccdc;
    border-radius: 0px 20px 20px 0px;
    height: 40px;
    border-left: none;
    padding-right: 40px;
  }
  @include mediaQuery(1280px) {
    max-width: 120px;
  }
}
.containerByIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 0px 22px 22px 0px;
  border: 2px solid #fff;
  border-left: none;
  cursor: pointer;

  @include mediaQuery(768px) {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
  }
}

.btnContainer {
  @include mediaQuery(768px) {
    padding-left: 30px;
  }
}

.btn {
  border: none;
  width: 130px;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  border-radius: 16px;
  cursor: pointer;
}

.btnSubmit {
  margin-right: 20px;
  color: #fff;
  background: #ff751d;
  filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
}

.btnClear {
  color: #52555f;
  background: #f5f6fb;
  box-shadow: 1px 2px 5px 0px rgba(170, 178, 197, 0.4);
}

.errMsgStyled {
  position: absolute;
  top: 110%;
  left: 4px;

  font-size: 10px;
  color: red;
}
